.navbar {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.navbar-link {
  color: rgb(211, 227, 228);
  font-size: 20px;
}

.navbar-link:hover {
  color: rgb(255, 127, 127);
}

@media screen and (max-width: 992px) {
  .navbar-link {
    width: min-content;
  }
}
