.person-section {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 0px 8px;
}
