.details-title {
  font-size: 30px;
}

.details-description {
  line-height: 24px;
  letter-spacing: 2px;
}

.details-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
}

.details-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 500px;
  padding: 0px 8px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
